.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 640px) {
  .card-img-top {
    height: 75px;
    width: 75px;
  }
}

@media screen and (min-width: 641px) {
  .card-img-top {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 1080px) {
  .card-img-top {
    height: 150px;
    width: 150px;
  }
}

body>header {
  position: fixed;
  width: 100%;
  top: 0;
}

body>main {
  margin: auto;
  margin-top: 60px;
  max-width: 500px;
  padding: 0 4px;
}

h1 {
  background-color: var(--primaryColor);
  color: white;
  margin: 0;
  text-align: center;
  padding: 10px 0 5px 0;
  font-size: 20px;
  font-weight: normal;
}

a.navlink {
  color: var(--highlight);
  padding: 8px;
  text-decoration: none;
}

#linkHome {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}

#linkOrder {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}

section.page {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

ul#menu {
  background-color: var(--color6);
  margin: 4px 6px;
  padding: 0px 12px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px silver;
  padding-bottom: 20px;
}

h3 {
  color: var(--color4);
  font-weight: normal;
  padding-top: 15px;
  font-size: 17px;
}

button {
  display: block;
  background-color: var(--color5);
  border: 0;
  width: 80%;
  margin: 16px 10%;
  padding: 12px 0;
  border-radius: 40px;
  color: var(--color3);
  font-size: 16px;
}

h2 {
  color: var(--secondaryColor);
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

#home, #login, #register {
  text-align: center;
}

main a.navlink {
  color: var(--color3);
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

fieldset {
  background-color: var(--color6);
  padding: 16px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 4px silver;
}

form label {
  display: block;
  color: var(--color3);
  font-size: 13px;
  margin-left: 16px;
  margin-bottom: 4px;
  text-align: left;
}

form input {
  display: block;
  border: 1px solid var(--color3);
  width: 94%;
  padding: 3%;
  border-radius: 20px;
  background-color: var(--color2);
  margin-bottom: 12px;
}

form input:focus {
  border-color: var(--color3);
  background-color: white;
}